@font-face{
	font-family: "Arial"L;
}
header {
	font-family: "Arial";
	font-size: 0.8em;
	background-color: black;
	color: blue;
	display: flex;
	border-bottom: solid 2px #08A364;
	

}	


header .Logo img{

	width: 150px;

}
.Logo {
	float: left;
	flex: 1;
	width: 20%;

}

.menu{
	float: right;
	flex: 2;
	width: 80%;
}

.menu ul li{
	display: inline-block;
	text-align: left;
	padding: 5px 10px 10px 10px;
}

.menu ul li:hover{
	background-color: #08A364;


}